<a href="https://colab.research.google.com/github/githbsingh/pyspark/blob/main/Pyspark_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [14]:
import pandas as pd
df = pd.read_excel('/content/pySparkTest.xlsx')
print(df.head())
df.to_csv ("/content/Test.csv",
                  index = None,
                  header=True)

  Name  Age  Experience
0    A   23          10
1    B   34           6
2    C   44           8
3    D   49           4

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('/content/Test.csv')

In [ ]:
df_pyspark.show()

+----+---+
| _c0|_c1|
+----+---+
|Name|Age|
|   A| 23|
|  B | 34|
|   C| 44|
|   D| 49|
+----+---+

In [ ]:
df_pyspark = spark.read.option('header','true').csv('/content/Test.csv')

In [ ]:
df_pyspark.show()

+----+---+
|Name|Age|
+----+---+
|   A| 23|
|  B | 34|
|   C| 44|
|   D| 49|
+----+---+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='A', Age='23'), Row(Name='B ', Age='34'), Row(Name='C', Age='44')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [17]:
# Reading DATASET
df_pyspark = spark.read.option('header','true').csv('/content/Test.csv',inferSchema=True) ## inferSchema helps to determine the actual datatype of source column
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|   A| 23|        10|
|   B| 34|         6|
|   C| 44|         8|
|   D| 49|         4|
+----+---+----------+

In [18]:
### Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [19]:
## To get all the columns
df_pyspark.columns

['Name', 'Age', 'Experience']

In [20]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|   A| 23|        10|
|   B| 34|         6|
|   C| 44|         8|
|   D| 49|         4|
+----+---+----------+

In [21]:
df_pyspark.select('Name').show()

+----+
|Name|
+----+
|   A|
|   B|
|   C|
|   D|
+----+

In [22]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [25]:
df_pyspark.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
|   A|        10|
|   B|         6|
|   C|         8|
|   D|         4|
+----+----------+

In [27]:
#### To get the datatypes of the columns
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [29]:
df_pyspark.describe().show()

+-------+----+------------------+-----------------+
|summary|Name|               Age|       Experience|
+-------+----+------------------+-----------------+
|  count|   4|                 4|                4|
|   mean|NULL|              37.5|              7.0|
| stddev|NULL|11.503622617824933|2.581988897471611|
|    min|   A|                23|                4|
|    max|   D|                49|               10|
+-------+----+------------------+-----------------+

In [33]:
## Adding Columns
df_pyspark = df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2) ## withColumn is not a inplace operation
df_pyspark.show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience After 2 years|
+----+---+----------+------------------------+
|   A| 23|        10|                      12|
|   B| 34|         6|                       8|
|   C| 44|         8|                      10|
|   D| 49|         4|                       6|
+----+---+----------+------------------------+

In [34]:
## Dropping Columns
df_pyspark = df_pyspark.drop('Experience After 2 years')
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|   A| 23|        10|
|   B| 34|         6|
|   C| 44|         8|
|   D| 49|         4|
+----+---+----------+

In [36]:
## Rename the column
df_pyspark.withColumnRenamed('Name','New Name').show()
df_pyspark.show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|       A| 23|        10|
|       B| 34|         6|
|       C| 44|         8|
|       D| 49|         4|
+--------+---+----------+

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|   A| 23|        10|
|   B| 34|         6|
|   C| 44|         8|
|   D| 49|         4|
+----+---+----------+